:root {
  /* Color */
  --color-neutral-900: #091540;
  --color-neutral-800: #202535;
  --color-neutral-700: #2f364b;
  --color-neutral-600: #535868;
  --color-neutral-300: #c6c6c6;
  --color-neutral-200: #d6e2f5;
  --color-neutral-100: #eeeeee;
  --color-neutral-0: #fbfdfe;
  --color-red-400: #f25c54;
  --color-red-500: #de4840;
  --color-red-700: #c7231a;
  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --gradient-dark: linear-gradient(180deg, #04091b 0%, #091540 100%);

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;

  /* Radius */
  --radius-0: 0;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-full: 62.4375rem;

  /* Font sizes */
  --font-size-preset-1: 2.125rem;
  --font-size-preset-2: 1.25rem;
  --font-size-preset-3: 1.25rem;
  --font-size-preset-4: 1.25rem;
  --font-size-preset-5: 1rem;
  --font-size-preset-6: 1rem;

  /* Line height */
  --line-height-preset-1: 1;
  --line-height-preset-2: 1.2;
  --line-height-preset-3: 1.4;
  --line-height-preset-4: 1.4;
  --line-height-preset-5: 1.4;
  --line-height-preset-6: 1.4;

  /* letter spacing */
  --letter-spacing-preset-1: -0.0625rem;
  --letter-spacing-preset-2: -0.0125rem;
  --letter-spacing-preset-3: -0.0187rem;
  --letter-spacing-preset-4: -0.0187rem;
  --letter-spacing-preset-5: -0.0313rem;
  --letter-spacing-preset-6: -0.0313rem;

  /* Font Weight */
  --font-weight-preset-1: 700;
  --font-weight-preset-2: 700;
  --font-weight-preset-3: 400;
  --font-weight-preset-4: 500;
  --font-weight-preset-5: 400;
  --font-weight-preset-6: 500;

  /* Theme light (default) */
  --body-bg: var(--gradient-light);
  --header-bg-clr: var(--color-neutral-0);
  --header-border: 0.0625rem solid var(--color-neutral-200);
  --header-box-shadow: 0 0.125rem 0.1875rem #d9e5f4;
  --tgl-theme-btn-bg-clr: var(--color-neutral-100);
  --tgl-theme-btn-hover-bg-clr: var(--color-neutral-300);
  --heading-and-btn-clr: var(--color-neutral-900);
  --filter-tab-bg-clr: var(--color-neutral-0);
  --filter-tab-box-shadow: 0 0.0625rem 0.125rem rgba(184, 196, 215, 0.4);
  --filter-tab-border: 0.0625rem solid var(--color-neutral-200);
  --filter-tab-selected-bg-clr: var(--color-red-700);
  --filter-tab-selected-clr: var(--color-neutral-0);
  --filter-tab-hover-bg-clr: rgba(251, 253, 254, 0.3);
  --filter-tab-hover-clr: rgba(9, 21, 64, 0.7);
  --removed-tab-before-clr: var(--color-neutral-0);
  --removed-tab-before-bg-clr: var(--color-red-700);
  --removed-tab-before-selected-bg-clr: var(--color-neutral-0);
  --removed-tab-before-selected-clr: var(--color-neutral-900);
  --ex-card-bg-clr: var(--color-neutral-0);
  --ex-card-border: 0.0625rem solid var(--color-neutral-200);
  --ex-card-box-shadow: 0 0.125rem 0.125rem 0 rgba(194, 206, 225, 0.2),
    0 0.0625rem 0.3125rem 0.0625rem rgba(194, 206, 225, 0.22);
  --ex-card-p-clr: var(--color-neutral-600);
  --ex-card-remove-btn-border: 0.0625rem solid var(--color-neutral-300);
  --ex-card-remove-btn-hover-bg-clr: var(--color-red-700);
  --ex-card-remove-btn-hover-clr: var(--color-neutral-0);
  --ex-card-toggle-switch-bg-clr: var(--color-neutral-300);
  --ex-card-toggle-switch-checked-bg-clr: var(--color-red-700);
}

/* Typography */
:where(
    .text-preset-1,
    .text-preset-2,
    .text-preset-3,
    .text-preset-4,
    .text-preset-5,
    .text-preset-6
  ) {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.text-preset-1 {
  font-size: var(--font-size-preset-1);
  font-weight: var(--font-weight-preset-1);
  line-height: var(--line-height-preset-1);
  letter-spacing: var(--letter-spacing-preset-1);
}

.text-preset-2 {
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-preset-2);
  line-height: var(--line-height-preset-2);
  letter-spacing: var(--letter-spacing-preset-2);
}

.text-preset-3 {
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-preset-3);
  line-height: var(--line-height-preset-3);
  letter-spacing: var(--letter-spacing-preset-3);
}

.text-preset-4 {
  font-size: var(--font-size-preset-4);
  font-weight: var(--font-weight-preset-4);
  line-height: var(--line-height-preset-4);
  letter-spacing: var(--letter-spacing-preset-4);
}

.text-preset-5 {
  font-size: var(--font-size-preset-5);
  font-weight: var(--font-weight-preset-5);
  line-height: var(--line-height-preset-5);
  letter-spacing: var(--letter-spacing-preset-5);
}

.text-preset-6 {
  font-size: var(--font-size-preset-6);
  font-weight: var(--font-weight-preset-6);
  line-height: var(--line-height-preset-6);
  letter-spacing: var(--letter-spacing-preset-6);
}

/* Mobile Layout */
body {
  background: var(--body-bg);
  padding-inline: var(--spacing-200);
  padding-block: var(--spacing-250) var(--spacing-800);
}

.header-container {
  padding-block: var(--spacing-100);
  padding-inline: var(--spacing-150);
  border-radius: var(--radius-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-clr);
  border: var(--header-border);
  box-shadow: var(--header-box-shadow);
}

.logo-container {
  height: 2.5625rem;
}

.options {
  display: flex;
  flex-flow: row wrap;
  row-gap: var(--spacing-300);
  margin-block: var(--spacing-500);
}

h1 {
  inline-size: 100%;
  color: var(--heading-and-btn-clr);
  text-align: center;
}

.filters-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.875rem;
  justify-content: space-around;
  margin-inline: auto;
}

.extentions-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-125);
  inline-size: fit-content;
  margin-inline: auto;
}

.ex-card {
  max-inline-size: 23.875rem;
  min-block-size: 12.5rem;
  padding: var(--spacing-250);
  background-color: var(--color-neutral-0);
  border: var(--ex-card-border);
  border-radius: var(--radius-20);
  box-shadow: var(--ex-card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ex-card__info {
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-200);
}

.ex-card__info > img {
  align-self: flex-start;
}

.ex-card__info h2 {
  color: var(--heading-and-btn-clr);
}

.ex-card p {
  color: var(--ex-card-p-clr);
}

.flex-clmn {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);
}

.ex-card__actions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

/* Interactive Components */
.tgl-theme-btn {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  height: 3.125rem;
  padding: 0.875rem;
  border-radius: var(--radius-12);
  background-color: var(--tgl-theme-btn-bg-clr);
}

.tgl-theme-btn:hover {
  background-color: var(--tgl-theme-btn-hover-bg-clr);
}

.filter-tab {
  color: var(--heading-and-btn-clr);
  background-color: var(--filter-tab-bg-clr);
  box-shadow: var(--filter-tab-box-shadow);
  border: var(--filter-tab-border);
  padding-inline: var(--spacing-250);
  padding-block: var(--spacing-100) var(--spacing-125);
  border-radius: var(--radius-full);
  cursor: pointer;
}

.filter-tab--selected {
  color: var(--filter-tab-selected-clr);
  background-color: var(--filter-tab-selected-bg-clr);
  border: none;
  box-shadow: none;
}

.filter-tab:not(.filter-tab--selected):hover {
  background-color: var(--filter-tab-hover-bg-clr);
  color: var(--filter-tab-hover-clr);
}

.filter-tab--selected:hover {
  background-color: var(--color-red-500);
}

.removed-tab {
  position: relative;
}

.removed-tab > span {
  inline-size: 1.5rem;
  background-color: var(--removed-tab-before-bg-clr);
  color: var(--removed-tab-before-clr);
  font-size: 0.9375rem;
  padding: var(--spacing-025);
  border-radius: var(--radius-6);
  position: absolute;
  top: -50%;
  right: 0;
  transform: translate(25%, 50%);
  display: block;
}

.removed-tab.filter-tab--selected > span {
  background-color: var(--removed-tab-before-selected-bg-clr);
  color: var(--removed-tab-before-selected-clr);
  border: var(--filter-tab-border);
  box-shadow: 0 0.0625rem 0.125rem rgb(184, 196, 215);
}

.ex-card-remove-btn {
  background-color: transparent;
  padding-inline: var(--spacing-200);
  padding-block: var(--spacing-100);
  border-radius: var(--radius-full);
  border: var(--ex-card-remove-btn-border);
  color: var(--heading-and-btn-clr);
  cursor: pointer;
}

.ex-card-remove-btn:hover {
  border-color: transparent;
  background-color: var(--ex-card-remove-btn-hover-bg-clr);
  color: var(--ex-card-remove-btn-hover-clr);
}

.toggle-switch {
  inline-size: 2.25rem;
  block-size: 1.25rem;
  position: relative;
  cursor: pointer;
}

.toggle-switch > input {
  appearance: none;
}

.toggle-switch > .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--radius-full);
  background-color: var(--ex-card-toggle-switch-bg-clr);
  transition: background-color ease-in-out 0.2s;
}

.toggle-switch > .slider::before {
  content: "";
  position: absolute;
  left: 0.125rem;
  top: 0.125rem;
  background-color: var(--color-neutral-0);
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 50%;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(10, 13, 18, 0.15),
    0 0.0625rem 0.125rem -0.0625rem rgba(10, 13, 18, 0.15);
  transition: left ease-in-out 0.2s;
}

.toggle-switch > input:checked + .slider::before {
  left: 1.125rem;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(10, 13, 18, 0.3),
    0 0.0625rem 0.125rem -0.0625rem rgba(10, 13, 18, 0.3);
}

.toggle-switch > input:checked + .slider {
  background-color: var(--ex-card-toggle-switch-checked-bg-clr);
}

.toggle-switch:hover > input:checked + .slider {
  background-color: var(--color-red-500);
}

:is(.tgl-theme-btn, .filter-tab, .ex-card-remove-btn):focus-visible,
.toggle-switch > input:focus-visible + .slider {
  border-color: transparent;
  outline-offset: 0.125rem;
  outline-width: 0.125rem;
  outline-style: solid;
  outline-color: var(--color-red-400);
}

/* Tablet Layout */
@media (min-width: 48em) {
  body {
    padding-inline: var(--spacing-400);
    padding-block-start: var(--spacing-300);
  }

  .header-container {
    padding-block: var(--spacing-150);
    padding-inline: var(--spacing-200);
  }

  .options {
    margin-block-end: var(--spacing-400);
    row-gap: unset;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    inline-size: fit-content;
  }

  .filters-container {
    gap: var(--spacing-150);
    margin-inline: unset;
  }

  .extentions-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop Layout */
@media (min-width: 75em) {
  body {
    padding-inline: unset;
    padding-block: var(--spacing-500) var(--spacing-800);
  }

  header,
  main {
    max-inline-size: 73.125rem;
    margin-inline: auto;
  }

  .options {
    margin-block-start: var(--spacing-800);
  }

  .extentions-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
